body{
    background-color:#edf5f3;
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}

.navbar{
    background-color:#edf5f3;
}

.navbar :hover{
    opacity:0.7;
}

.name{
    margin-right:49rem;
}

.bar{
    background-color:#edf5f3;
    cursor:pointer;
    padding:0.6rem;
    border:none;
}

.divider{
    color:lightgrey;
    margin:1rem;
    border:solid 1px;
}

.home{
    margin-top:6rem;
    padding:1.5rem;
}

.quote{
    background-color:#fcfcfc;
    float:right;
    text-align: center;
    text-shadow: #076463 0px 0px 1px;
    width:25rem;
    margin-top: 15rem;
    border-radius:0.9rem;
    border: solid black 1px;
}

.homePictureDiv{
    width:37rem;
    height:28rem;
    margin-top:-6rem;
    padding:5px;
}

.homePicture{
    position:absolute;
    width:37rem;
    height:28rem;
    z-index:-1;
}

.title{
    font-family: 'Sacramento', cursive;
    font-size:40px;
    color: black;
    text-align:center;
    text-shadow:white 1px 1px;
    margin:10px;
}

.about{
    background-color:#fcfcfc;
    font-family: 'Abel', sans-serif;
    font-size: large;
    text-align:center;
    margin:30px;
    padding:30px;
}

.projects{
    margin:50px;
    padding:10px;
}

.projectsDescription{
    background-color:#076463;
    font-family: 'Abel', sans-serif;
    color : white;
    width:25rem;
    height:9rem;
    margin-left:inherit;
    margin-top:6rem;
    padding:10px;
    border: solid black 2px;
}

.projectPictureDiv{
    width:37rem;
    height:25rem;
    margin-left:auto;
    margin-top:-12rem;
    padding:5px;
}

.projectPicture{
    position:absolute;
    width:37rem;
    height:25rem;
    z-index:-1;
}

.projectNames{
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-family: 'Abel', sans-serif;
    height:40px;
    margin: bottom 5rem;
    margin-top:30px;
}

.art{
    margin:50px;
    padding:10px;
}

.blockArt{
    display: flex;
    justify-content: center;
}

.box{
    background-color:#fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    height:16rem;
    width:20rem;
    margin:1.2rem;
    border:solid grey 2px;
}

footer{
    font-size:15px;
    text-align:center;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    h1 {font-size:1.5rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    h1 {font-size:2.5rem;} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    h1 {font-size:3rem;} /*1rem = 16px*/    
}